<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jolpai.doctorsdiary">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jolpai.doctorsdiary.Brain.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".IO.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IO.activity.DailyReport"
            android:fitsSystemWindows="true"
            android:theme="@style/HomeTheme" />
        <activity android:name=".IO.activity.AddEdit_Report_Comment"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".IO.activity.MonthSelection" />
        <activity android:name=".IO.activity.AddEdit_Plan"></activity>
    </application>

</manifest>