<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jolpai.doctorsdiary">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/m"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".View.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Report.Activity_Report_Show"
            android:fitsSystemWindows="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".View.Report.Activity_Report_Comment_AddEdit"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.Activity_MonthSelect" />
        <activity android:name=".View.plan.Activity_Plan_AddEdit" />
        <activity
            android:name=".View.Activity_Login"
            android:label="@string/title_activity_login__v" />
        <activity android:name=".View.Test"></activity>
    </application>

</manifest>